@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
		*
	
/* Style the header with a grey background and some padding */


.header {
  
  background-color: #021639;
  padding: 10px 550px;
}

/* Style the header links */
.header a {
  float: center;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 30px;
  line-height: 30px;
  border-radius: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: 50px;
  width: 20%;
}





/* Float the link section to the right */
.header-right {
  float: center;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 1000px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }
  
}



		
	
		
		
	

		
	
		.container .contactInfo .box .text h3
		{
			display:flex;
			margin-left:1000px;
			
			font-size:16px;
			font-weight: 700;
			color: #fffff;
			width: 80%;
			
		}
		.contactForm
		{
			width: 30%;
			padding: 10px;
			background: #fff;
			margin-left:80px;
			margin-bottom:200px;
		}
		
		.contactForm .inputBox
		{
			position:relative;
			width:100%;
			margin-top: 10px;
		}
		.contactForm .inputBox input,
		.contactForm .inputBox textarea
		{
			width: 100%;
			padding: 5px 0;
			font-size:30px;
			margin: 10px 0;
			border:none;
			border-bottom: 2px solid #333;
			resize:none;
			outline: none;
		}
		.contactForm .inputBox span
		{
			position:absolute;
			left:0;
			padding: 5px 0;
			font-size:16px;
			margin: 10px 0;
			pointer-events:none;
			transition: 0.5s;
			color:#1E4E5F;
		}
		.contactForm .inputBox input:focus ~ span,
		.contactForm .inputBox input:valid ~ span,
		.contactForm .inputBox textarea:focus ~ span,
		.contactForm .inputBox textarea:valid ~ span
		{
			color: #e91e63;
			font-size:12px;
			transform: translateY(-20px);
		}
		.contactForm .inputBox input[type="submit"]
		{
			width:200px;
			margin-left:100;
			background: #1E4E5F;
			color:#fff;
			border:none;
			cursor: pointer;
			padding:10px;
			font-size:18px;
		}