body {
    background-image: url(../imgs/seamless.jpg);
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.288);
    font-family: 'Montserrat', sans-serif;

    
}
p{
    color:white;
}
h1{
    text-align: center;
    width: 100%;
}
.form {
    width: 700px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #eee;
    margin: 100px auto;
    
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    width: 100%;
    height: 100%;
   
}

.form p {
    height: 20px;
    width: 100px;
    color : black
}

.form .group-input {
    margin-bottom: 30px;
}

.form input {
    width: 200px;
    height: 50px;
    /* border-radius: 10px; */
    border: none;
    padding: 0 5px; /* Inner space inside the div */
    background-color: grey;
    font-family: 'Roboto Slab', serif;  /* Font family  */
    outline: none;
    color: white;
}

.form .group-btn {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.form .bButton {
    width: 120px;
    height: 50px;
    color: white;
    background-color: #173c49;
    border: 1px solid white;
    /* border-radius: 20px; */
    cursor: pointer;
    transition: .3s all;
    text-align: center;
}

table td {
    width: 100%;
}
.header {
    background-color: #acd1fd;
    width: 100%;
    text-align: center;        
    height: 100px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    height: 100%;
    color:#21222d;  
}

.menu {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

.menu .header-item {
    transition: .3s all;
    /* padding: 10px 0px; */
    height: 100%;
    cursor: pointer;
    margin: 0 30px;
    margin-top: 40px;
    color: #21222d;
    font-weight: 800;
    
}

.menu .header-item:hover {
    color: #1b1b1b;
    /* background-color: white; */
}


.header .logo img{
    width: 100px;
    height: 100px;
}


.header .user-infoo {
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.header .user-infoo .user-img {
    width: 70px;
    height: 50px;
    margin-right: 10px;
}


.header .user-infoo .user-img img {
    width: 70px;
    height: 50px;
}

.flex {
    display: flex;
}

.fl-2 {
    flex: 2;
}

.fl-1 {
    flex: 1;
}
.column {
    float: left;
    width: 30%;
    padding: 5px;
  }
  
 
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  #loginBody , #signupBody,#healthrecordbody,#dentalclinic{
      background-image: url(../imgs/seamless.jpg);
      background-size: contain;
      background-color: rgba(255, 255, 255, 0.288);
      margin:0;
      font-family: 'Montserrat', sans-serif;

  }

  .group-input.flex {
      align-items: center;
  }

  .ta-c {
      text-align: center;
  }

  .group-input input[type=radio] {
      width: 40% !important;
      font-size: 18px;
      height: 25px;
  }

  .flex {
      display: flex;
  }